<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
        <td>10:00</td>
        <td>
          <a href="https://swcarpentry.github.io/git-novice-es/index.html" target="_blank" rel="noopener noreferrer">
            Introducción al taller y contenido general
          </a>
        </td>
      </tr>
      <tr>
        <td>10:20</td>
        <td>
          <a href="https://swcarpentry.github.io/git-novice-es/01-basics.html" target="_blank" rel="noopener noreferrer">
            ¿Qué es el control de versiones y por qué usarlo?
          </a>
        </td>
      </tr>
      <tr>
        <td>10:50</td>
        <td>
          <a href="https://swcarpentry.github.io/git-novice-es/02-setup.html" target="_blank" rel="noopener noreferrer">
            Configuración inicial de Git
          </a>
        </td>
      </tr>
      <tr>
        <td>11:20</td>
        <td>
          <a href="https://swcarpentry.github.io/git-novice-es/03-create.html" target="_blank" rel="noopener noreferrer">
            Crear un repositorio y seguimiento de archivos
          </a>
        </td>
      </tr>
      <tr>
        <td>11:50</td>
        <td>Preguntas y cierre</td>
      </tr>
    </table>
  </div>

  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>
        <td>10:00</td>
        <td>
          <a href="https://swcarpentry.github.io/git-novice-es/04-changes.html" target="_blank" rel="noopener noreferrer">
            Guardar cambios y versiones
          </a>
        </td>
      </tr>
      <tr>
        <td>10:30</td>
        <td>
          <a href="https://swcarpentry.github.io/git-novice-es/05-history.html" target="_blank" rel="noopener noreferrer">
            Revisar el historial de cambios
          </a>
        </td>
      </tr>
      <tr>
        <td>11:00</td>
        <td>
          <a href="https://swcarpentry.github.io/git-novice-es/06-ignore.html" target="_blank" rel="noopener noreferrer">
            Ignorar archivos
          </a>
        </td>
      </tr>
      <tr>
        <td>11:20</td>
        <td>
          <a href="https://swcarpentry.github.io/git-novice-es/07-github.html" target="_blank" rel="noopener noreferrer">
            Compartir repositorios en GitHub
          </a>
        </td>
      </tr>
      <tr>
        <td>11:50</td>
        <td>Preguntas y cierre</td>
      </tr>
    </table>
  </div>
</div>
